println()
color(0x0d3ce6)
println()
println("               ##### NX blue pack - AIO CFW PACK ######")
println("               #####        Upgrade Skript       ######")
println()
println()
color(0xabc4ff)
println("Dieses Skript führt ein Upgrade gemäß Anleitung, Punkt Nr. 12, durch.")
println("Es bereinigt die SD-Karte von Dateien alter CFW-Setups")
println("und aktualisiert sie mit den Daten des neuen NX blue pack. ")
println()
println()
color(0x00FF00)
println("Drücke die A Taste, um das Upgrade zu starten.")
println()
println()
color(0xFF0000)
println("Zum abbrechen die B Taste drücken.")
color(0xFFFFFF)

if (!pause().a){
    exit()
}

println()
println()
println()
println()
println()
println()
println("	Das NX blue pack wird nun aktualisiert")
println()
color(0xFF0000)

if (fsexists("sd:/atmosphere/contents/420000000007E51A")){
    deldir("sd:/atmosphere/contents/420000000007E51A")
}	
if (fsexists("sd:/atmosphere/contents/420000000000000E")){
    deldir("sd:/atmosphere/contents/420000000000000E")
}	
if (fsexists("sd:/atmosphere/contents/010000000000000D")){
    deldir("sd:/atmosphere/contents/010000000000000D")
}	
if (fsexists("sd:/atmosphere/contents/010000000000002B")){
    deldir("sd:/atmosphere/contents/010000000000002B")
}
if (fsexists("sd:/atmosphere/contents/010000000000003C")){
    deldir("sd:/atmosphere/contents/010000000000003C")
}
if (fsexists("sd:/atmosphere/contents/0100000000000008")){
    deldir("sd:/atmosphere/contents/0100000000000008")
}
if (fsexists("sd:/atmosphere/contents/0100000000000032")){
    deldir("sd:/atmosphere/contents/0100000000000032")
}
if (fsexists("sd:/atmosphere/contents/0100000000000034")){
    deldir("sd:/atmosphere/contents/0100000000000034")
}
if (fsexists("sd:/atmosphere/contents/0100000000000036")){
    deldir("sd:/atmosphere/contents/0100000000000036")
}
if (fsexists("sd:/atmosphere/contents/0100000000000037")){
    deldir("sd:/atmosphere/contents/0100000000000037")
}
if (fsexists("sd:/atmosphere/contents/0100000000000042")){
    deldir("sd:/atmosphere/contents/0100000000000042")
}
if (fsexists("sd:/atmosphere/contents/420000000000000B")){
    deldir("sd:/atmosphere/contents/420000000000000B")
}
if (fsexists("sd:/atmosphere/exefs_patches")){
    deldir("sd:/atmosphere/exefs_patches")
}
if (fsexists("sd:/atmosphere/kip_patches")){
    deldir("sd:/atmosphere/kip_patches")
}
if (fsexists("sd:/atmosphere/hosts")){
    deldir("sd:/atmosphere/hosts")
}
if (fsexists("sd:/atmosphere/exefs_patches")){
    deldir("sd:/atmosphere/exefs_patches")
}
if (fsexists("sd:/atmosphere/erpt_reports")){
    deldir("sd:/atmosphere/erpt_reports")
}
if (fsexists("sd:/atmosphere/crash_reports")){
    deldir("sd:/atmosphere/crash_reports")
}
if (fsexists("sd:/atmosphere/fatal_reports")){
    deldir("sd:/atmosphere/fatal_reports")
}
if (fsexists("sd:/switch/ChoiDujourNX")){
    deldir("sd:/switch/ChoiDujourNX")
}
if (fsexists("sd:/switch/Payload_launcher")){
    deldir("sd:/switch/Payload_launcher")
}
if (fsexists("sd:/switch/reboot_to_hekate")){
    deldir("sd:/switch/reboot_to_hekate")
}
if (fsexists("sd:/switch/gamecard_installer")){
    deldir("sd:/switch/gamecard_installer")
}
if (fsexists("sd:/switch/nxmtp")){
    deldir("sd:/switch/nxmtp")
}
if (fsexists("sd:/switch/crash_ams")){
    deldir("sd:/switch/crash_ams")
}
if (fsexists("sd:/switch/DBI_ru")){
    deldir("sd:/switch/DBI_ru")
}
if (fsexists("sd:/switch/DBI")){
    deldir("sd:/switch/DBI")
}
if (fsexists("sd:/switch/reboot_to_argonNX")){
    deldir("sd:/switch/reboot_to_argonNX")
}
if (fsexists("sd:/config/fastCFWswitch")){
    deldir("sd:/config/fastCFWswitch")
}
if (fsexists("sd:/sept")){
    deldir("sd:/sept")
}
if (fsexists("sd:/argon")){
    deldir("sd:/argon")
}
if (fsexists("sd:/config/nx-hbmenu")){
    deldir("sd:/config/nx-hbmenu")
}
if (fsexists("sd:/atmosphere/fusee-secondary.bin")){
    delfile("sd:/atmosphere/fusee-secondary.bin")
}
if (fsexists("sd:/atmosphere/bluetooth_devices.db")){
    delfile("sd:/atmosphere/bluetooth_devices.db")
}
if (fsexists("sd:/switch/.overlays/0_fastCFWswitch.ovl")){
    delfile("sd:/switch/.overlays/0_fastCFWswitch.ovl")
}
if (fsexists("sd:/switch/.overlays/BatteryChargeInfoNX-ovl.ovl")){
    delfile("sd:/switch/.overlays/BatteryChargeInfoNX-ovl.ovl")
}
if (fsexists("sd:/switch/.overlays/ovlEdiZon.ovl")){
    delfile("sd:/switch/.overlays/ovlEdiZon.ovl")
}
if (fsexists("sd:/switch/.overlays/ovlSysmodules.ovl")){
    delfile("sd:/switch/.overlays/ovlSysmodules.ovl")
}
if (fsexists("sd:/switch/.overlays/Status-Monitor-Overlay.ovl")){
    delfile("sd:/switch/.overlays/Status-Monitor-Overlay.ovl")
}
if (fsexists("sd:/switch/.overlays/2_Status-Monitor-Overlay.ovl")){
    delfile("sd:/switch/.overlays/2_Status-Monitor-Overlay.ovl")
}
if (fsexists("sd:/switch/.overlays/2_ovlSysmodules.ovl")){
    delfile("sd:/switch/.overlays/2_ovlSysmodules.ovl")
}
if (fsexists("sd:/switch/.overlays/3_ovlSysmodules.ovl")){
    delfile("sd:/switch/.overlays/3_ovlSysmodules.ovl")
}
if (fsexists("sd:/switch/.overlays/3_BatteryChargeInfoNX.ovl")){
    delfile("sd:/switch/.overlays/3_BatteryChargeInfoNX.ovl")
}
deldir("sd:/scripts")
deldir("sd:/tools")
deldir("sd:/bootloader/sys")

if (fsexists("sd:/atmosphere/extrazz")){
    deldir("sd:/atmosphere/extrazz")
}
if (fsexists("sd:/bootloader/ini/00-android.ini")){
    delfile("sd:/bootloader/ini/00-android.ini")
}
if (fsexists("sd:/bootloader/ini/00-ubuntu.ini")){
    delfile("sd:/bootloader/ini/00-ubuntu.ini")
}
if (fsexists("sd:/bootloader/ini/00-Lakka.ini")){
    delfile("sd:/bootloader/ini/00-Lakka.ini")
}
if (fsexists("sd:/fusee-primary.bin")){
    delfile("sd:/fusee-primary.bin")
}
if (fsexists("sd:/fusee.bin")){
    delfile("sd:/fusee.bin")
}
if (fsexists("sd:/atmosphere/config/BCT.ini")){
    delfile("sd:/atmosphere/config/BCT.ini")
}
if (fsexists("sd:/atmosphere/config/system_settings.ini")){
    delfile("sd:/atmosphere/config/system_settings.ini")
}
if (fsexists("sd:/switch/ChoiDujourNX.nro")){
    delfile("sd:/switch/ChoiDujourNX.nro")
}
if (fsexists("sd:/bootloader/update.bin")){
    delfile("sd:/bootloader/update.bin")
}
if (fsexists("sd:/bootloader/payloads/Reboot_to_ArgonNX.bin")){
    delfile("sd:/bootloader/payloads/Reboot_to_ArgonNX.bin")
}
if (fsexists("sd:/bootloader/sd:/ArgonNX.bin")){
    delfile("sd:/bootloader/sd:/ArgonNX.bin")
}
if (fsexists("sd:/bootloader/hekate_ipl.ini")){
    delfile("sd:/bootloader/hekate_ipl.ini")
}
if (fsexists("sd:/bootloader/payloads/Atmosphere.bin")){
    delfile("sd:/bootloader/payloads/Atmosphere.bin")
}
if (fsexists("sd:/bootloader/payloads/Incognito_RCM.bin")){
    delfile("sd:/bootloader/payloads/Incognito_RCM.bin")
}
if (fsexists("sd:/atmosphere/extrazz/default.txt")){
    delfile("sd:/atmosphere/extrazz/default.txt")
}
if (fsexists("sd:/atmosphere/extrazz/stratosphere.ini")){
    delfile("sd:/atmosphere/extrazz/stratosphere.ini")
}
if (fsexists("sd:/atmosphere/extrazz/ase")){
    deldir("sd:/atmosphere/extrazz/ase")
}
color(0x00FF00)
copydir("sd:/config/blue_pack_updater/blue_pack_NX/atmosphere", "sd:/")
copydir("sd:/config/blue_pack_updater/blue_pack_NX/bootloader", "sd:/")
copydir("sd:/config/blue_pack_updater/blue_pack_NX/switch", "sd:/")
copydir("sd:/config/blue_pack_updater/blue_pack_NX/config", "sd:/")
copydir("sd:/config/blue_pack_updater/blue_pack_NX/NSPs (Tools)", "sd:/")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/exosphere.ini", "sd:/exosphere.ini")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/hbmenu.nro", "sd:/hbmenu.nro")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/boot.dat", "sd:/boot.dat")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/boot.ini", "sd:/boot.ini")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/payload.bin", "sd:/payload.bin")
copyfile("sd:/config/blue_pack_updater/blue_pack_NX/loader.bin", "sd:/loader.bin")
color(0xFF0000)
deldir("sd:/config/blue_pack_updater/blue_pack_NX")
deldir("sd:/scripts")


color(0x00FF00)
println()
println()
println()
println()
println("Glückwunsch, das NX blue pack - Upgrade wurde erfolgreich durchgeführt!")
color(0xFF0000)
println()
println()
println(" Wähle nach beenden ## Reboot to bootloader/update.bin, ##")
println(" um Hekate neu zuladen.")
println()
println(" Drücke eine beliebige Taste, um das Script zu beenden. ")pause()